.splat/
asm/
bin/
assets/
build/

linker_scripts/us/auto/
linker_scripts/us/yoshisstory.ld
*_auto.ld
yoshisstory.ld
yoshisstory.us.yaml

__pycache__/
.make_options

ctx.c
ctx.c.m2c
*.o

*.z64
*.n64
*.v64
*.plf
*.sym
*.venv

.vscode/*
!.vscode/c_cpp_properties.json
